#arena{
    display: grid;
}

.cell{
    border: 1px solid black;
}

.bot{
    background-color: tan;
}

.bot1{
    background-color: red
}

.bot2{
    background-color: blue;
}

.bot3{
    background-color: yellow;
}

.bot4{
    background-color: green;
}


button{
    cursor:pointer;
}