#arena{
    display: grid;
}

.cell{
    border: 1px solid black;
}

.bot{
    background-color: red;
}


button{
    cursor:pointer;
}


.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.orange{
    background-color: orange;
}
.aquamarine{
    background-color: aquamarine;
}
.purple{
    background-color:purple;
}